/* Default colors */
:root {
    --color-primary: 59 193 23;
    --color-secondary: theme("colors.rgb.slate.200");
    --color-success: theme("colors.rgb.lime.500");
    --color-info: theme("colors.rgb.cyan.500");
    --color-warning: theme("colors.rgb.yellow.400");
    --color-pending: theme("colors.rgb.orange.500");
    --color-danger: theme("colors.rgb.red.600");
    --color-light: theme("colors.rgb.slate.100");
    --color-dark: theme("colors.rgb.slate.800");
    --color-slate-50: theme("colors.rgb.gray.50");
    --color-slate-100: theme("colors.rgb.gray.100");
    --color-slate-200: theme("colors.rgb.gray.200");
    --color-slate-300: theme("colors.rgb.gray.300");
    --color-slate-400: theme("colors.rgb.gray.400");
    --color-slate-500: theme("colors.rgb.gray.500");
    --color-slate-600: theme("colors.rgb.gray.600");
    --color-slate-700: theme("colors.rgb.gray.700");
    --color-slate-800: theme("colors.rgb.gray.800");
    --color-slate-900: theme("colors.rgb.gray.900");

    --title-color: #000000;
    --text2-color: #444444;
    --text-color: #31373D;
    --sub-text-color: #5F6975;
    --placeholder-color: #BEC1CC;
    --background-color: #F6F7FA;
    --standard-color: #FFFFFF;
    --shadow-color: #EAECF3;
    --page-shadow: linear-gradient(to right, #DADDE6, rgba(218, 221, 230, 0));
    --page-bottom-shadow : linear-gradient(to bottom,#DADDE6,rgba(218,221,230,0));
    --autofill-color: #31373d;
    --yellow-color: #FFAD00;
    --primary-color: #3BC117;
    --border-radius: .25rem;
    --background-type-color:#f2f2f7;
    --green-gradient:linear-gradient(145deg,#cff47e,#f5f6fa 50%);
    --modal-darkbg: #f5f6fa;
    --btn-dark : #EAECF3;
    --background-light: #ffffff;
    --sponsor-visual:#EAECF3; 
    --casino-listbg:#ffffff;
    --tab-bg:#ffffff; 
}

/* Default dark-mode colors */
.dark {
    --color-primary: 59 193 23;
    --color-slate-50: theme("colors.rgb.zinc.900");
    --color-slate-100: theme("colors.rgb.zinc.900");
    --color-slate-200: theme("colors.rgb.zinc.800");
    --color-slate-300: theme("colors.rgb.zinc.700");
    --color-slate-400: theme("colors.rgb.zinc.600");
    --color-slate-500: theme("colors.rgb.zinc.500");
    --color-slate-600: theme("colors.rgb.zinc.400");
    --color-slate-700: theme("colors.rgb.zinc.300");
    --color-slate-800: theme("colors.rgb.zinc.200");
    --color-slate-900: theme("colors.rgb.zinc.100");
    --color-darkmode-50: 87 103 132;
    --color-darkmode-100: 74 90 121;
    --color-darkmode-200: 65 81 114;
    --color-darkmode-300: theme("colors.rgb.zinc.800");
    --color-darkmode-400: 48 61 93;
    --color-darkmode-500: 41 53 82;
    --color-darkmode-600: 40 51 78;
    --color-darkmode-700: 35 45 69;
    --color-darkmode-800: 27 37 59;
    --color-darkmode-900: 15 23 42;

    --title-color: #ffffff;
    --text2-color: #cccccc;
    --text-color: #98A7B5;
    --sub-text-color: #656E78;
    --placeholder-color: #4D565E;
    --background-color: #24262B;
    --standard-color: #1C1E22;
    --shadow-color: #111415;
    --page-shadow: linear-gradient(to right, #111415, rgba(17, 20, 21, 0));
    --page-bottom-shadow : linear-gradient(to bottom,#111415,rgba(17,20,21,0));
    --autofill-color: #f5f6f7;
    --yellow-color: #FFBF39;
    --background-type-color:#1e2024;
    --green-gradient:linear-gradient(145deg,#395231,#1c1e22 50%);
    --modal-darkbg: #17181b;
    --btn-dark : #282A30;
    --background-light: #2D3035;
    --sponsor-visual:#1A1C20; 
    --casino-listbg:#32343B;
    --tab-bg:#31343c; 
}

/* Theme 1 colors */
.theme-1 {
    --color-primary: theme("colors.rgb.emerald.900");
    --color-secondary: theme("colors.rgb.slate.200");
    --color-success: theme("colors.rgb.emerald.600");
    --color-info: theme("colors.rgb.cyan.500");
    --color-warning: theme("colors.rgb.yellow.400");
    --color-pending: theme("colors.rgb.amber.500");
    --color-danger: theme("colors.rgb.rose.600");
    --color-light: theme("colors.rgb.slate.100");
    --color-dark: theme("colors.rgb.slate.800");
    &.dark {
        --color-primary: theme("colors.rgb.emerald.800");
    }
}

/* Theme 2 colors */
.theme-2 {
    --color-primary: theme("colors.rgb.blue.900");
    --color-secondary: theme("colors.rgb.slate.200");
    --color-success: theme("colors.rgb.teal.600");
    --color-info: theme("colors.rgb.cyan.500");
    --color-warning: theme("colors.rgb.amber.500");
    --color-pending: theme("colors.rgb.orange.500");
    --color-danger: theme("colors.rgb.red.700");
    --color-light: theme("colors.rgb.slate.100");
    --color-dark: theme("colors.rgb.slate.800");
    &.dark {
        --color-primary: theme("colors.rgb.blue.800");
    }
}

/* Theme 3 colors */
.theme-3 {
    --color-primary: theme("colors.rgb.cyan.900");
    --color-secondary: theme("colors.rgb.slate.200");
    --color-success: theme("colors.rgb.teal.600");
    --color-info: theme("colors.rgb.cyan.500");
    --color-warning: theme("colors.rgb.amber.500");
    --color-pending: theme("colors.rgb.amber.600");
    --color-danger: theme("colors.rgb.red.700");
    --color-light: theme("colors.rgb.slate.100");
    --color-dark: theme("colors.rgb.slate.800");
    &.dark {
        --color-primary: theme("colors.rgb.cyan.800");
    }
}

/* Theme 4 colors */
.theme-4 {
    --color-primary: theme("colors.rgb.indigo.900");
    --color-secondary: theme("colors.rgb.slate.200");
    --color-success: theme("colors.rgb.emerald.600");
    --color-info: theme("colors.rgb.cyan.500");
    --color-warning: theme("colors.rgb.yellow.500");
    --color-pending: theme("colors.rgb.orange.600");
    --color-danger: theme("colors.rgb.red.700");
    --color-light: theme("colors.rgb.slate.100");
    --color-dark: theme("colors.rgb.slate.800");
    &.dark {
        --color-primary: theme("colors.rgb.indigo.700");
    }
}
